@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gestão de Gasto</h1>
    <p class="lead">Sistema feito para gestão de gasto de viagens e controle de custo de viagens de micro-empresas</p>
    <p><a href="/Account/Login" class="btn btn-primary btn-lg">Login &raquo;</a></p>
</div>
<!--
<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>-->
